* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	background-color: whitesmoke;
	font-family: 'IBM Plex Sans', sans-serif;
}

.ibm-nav {
	z-index: 9999;
  background: #fff;
  border-bottom: 1px solid #ececec;
  border-bottom-color: #c7c7c7;
  height: 80px;
	right: 0;
	width: 100%;
}

.ibm-home img {
  float: left;
  width: 80%;
  max-width: 130px;
  height: auto;
  margin-top: 9px;
	margin-left: 20px;
}

.parent-site-name h1 {
	display: inline-block;
  font-weight: bolder;
  color: #545454;
  font-size: 1.6em;
  text-align: center;
  padding-left: 30px;
  margin-left: 30px;
  margin-top: 22px;
  border-left: 1px solid #c7c7c7;
}

.container {
	width: 80%;
	max-width: 780px;
	text-align: center;
	margin: 8em auto;
  margin-top: 3.5em;
}

.box {
	font-size: 1.25rem;
	background-color: #408bfc;
	position: relative;
	padding: 120px 40px;
  padding-bottom: 50px;
  border-radius: 10px;
  position: relative;
}

.box.has-advanced-upload {
  outline: 2px dashed white;
	outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.box.is-dragover {
	outline-offset: -15px;
	outline-color: #c8dadf;
	background-color: #679def;
}

.box.has-advanced-upload .box__dragndrop {
	display: inline;
}

.box.has-advanced-upload .box__icon {
	width: 20%;
	height: 115px;
	fill: white;
	display: block;
  transition: all 0.2s ease-out;
  margin: 0 auto 40px auto;
}

.box__input input {
  display: none;
}

.box_choose_file, .box__dragndrop {
  font-size: 21px;
  color: white;
}

.box__input span {
  color: white;
}


.box__uploading, .box__success, .box__error {
	display: none;
  color: white;
}

.box.is-uploading .box__uploading, .box.is-success .box__success,
.box.is-error .box__error {
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
  -webkit-transform: translateY( -50% );
	transform: translateY( -50% );
}

.box__success {
	-webkit-animation: appear-from-inside .25s ease-in-out;
	animation: appear-from-inside .25s ease-in-out;
}

.box.is-uploading .box__input, .box.is-success .box__input,
.box.is-error .box__input {
	opacity: 0;
}

.box.is-uploading .container, .box.is-success .container,
.box.is-error .container {
  margin-top: 500px;
}

@-webkit-keyframes appear-from-inside {
	from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
	75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
	to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
}

@keyframes appear-from-inside {
	from	{ transform: translateY( -50% ) scale( 0 ); }
	75%		{ transform: translateY( -50% ) scale( 1.1 ); }
	to		{ transform: translateY( -50% ) scale( 1 ); }
}

.box__input #choose_file {
	font-weight: 700;
	font-size: 16px;
	border-radius: 5px;
	color: #002b50;
	background: whitesmoke;
	border: 2px solid whitesmoke;
	padding: 14px 34px;
	margin: 40px 7px 0;
	transition: all 0.3s ease-out;
	display: inline-block;
}

.submit__buttons #choose_file:hover {
	color: whitesmoke;
	background: transparent;
	border: 2px solid whitesmoke;
	transition: all 0.3s ease-in;
}

.box__input #upload_file {
	font-weight: 700;
  font-size: 14px;
  border-radius: 5px;
	font-weight: 545;
	color: whitesmoke;
	background: transparent;
	border: 2px solid whitesmoke;
	padding: 15.5px 50px;
	margin: 40px 7px 0;
  transition: all 0.3s ease-out;
	display: inline-block;
}

.submit__buttons #upload_file:hover {
	color: #002b50;
	background: whitesmoke;
	border: 2px solid whitesmoke;
	transition: all 0.3s ease-in;
}

.box__input #upload_file_enabled {
	font-weight: 700;
  font-size: 14px;
  border-radius: 5px;
	font-weight: 545;
	color: #002b50;
	background: whitesmoke;
	border: 2px solid whitesmoke;
	padding: 15.5px 50px;
	margin: 40px 7px 0;
  transition: all 0.3s ease-out;
	display: inline-block;
}

.submit__buttons #upload_file_enabled:hover {
	color: whitesmoke;
	background: transparent;
	border: 2px solid whitesmoke;
	transition: all 0.3s ease-in;
}


.formats {
  z-index: 9999;
  margin-top: 2.5em;
}

.formats img {
  width: 40px;
  margin: 7px;
}

.formats h1 {
  font-size: 14px;
  color: white;
  margin: 0 auto;
}
